.product-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    text-align: start;
    border-color: #9EB384;
}
  
.card {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.card button {
    position: relative;
    justify-content: space-between;
    border: none;
    outline: 0;
    padding: 10px;
    color: #FAF1E4;
    background-color: #9EB384;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 16spx;
    border-radius: 10px;
    margin-left: 10%;
}
.card button:hover {
    opacity: 0.7;
}
.Imagen {
    width: 95%;
    height: 95%;
}