.Principal {
    display: flex;
    flex-direction:column;
    align-items:center;
    color: #435334;
    background-color: #FAF1E4;
    
}
.imagenes {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    margin-top: 30%;
    width: 1000rem;
    font-stretch: normal;
}
.ImgCaminon {
    align-self:flex-start;
    position: absolute;
    width: 20%;
    z-index: 100;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    /* margin-top: 30%;
    margin-left: 20%;
    border-radius: 20%; */
}
.divLogoRedes {
    margin: 1rem;
}
.TWT {
    height: 50px;
    width: 50px;
}
.IG {
    height: 50px;
    width: 50px;
}
.FCBK {
    height: 50px;
    width: 50px;
}
.body {
    background-color: #9EB384;
}

.TituloPrinc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    font-size: 2rem;
}
.CONTACTUS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration-color: #435334;
}
