* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poltawski Nowy', serif;
}
.sectionMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #435334;
    color: #FAF1E4;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.divLogoTitulo, .BarraNav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BarraNav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;

}
.BarraNav {
    list-style-type: none;
    font-family: 'Roboto Slab', serif;

}
.liNav{
    margin: 2rem;
    background:#435334;
}

.linkInfo {
    text-decoration: none;
    color: #FAF1E4;
}

.logo {
    max-width: 70px;
    margin: -1;
}
