footer {
	background-color: #435334;
	padding: 20px;
	text-align: center;
	position:fixed;
	display: flex;
	justify-content: center;
	bottom: 0;
	width: 100%;
}

/* .Contact {
	max-width: 70px;
    margin: -1;
	align-self: flex-end;
} */